#dspCartItemQty {
    background-color: #3A3A3A;
    border: 1px solid #2E2E2D;
    border-radius: 5px 5px 5px 5px;
    height: 34px;
    left: 165px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 13px;
    width: 170px;
    z-index: 10;
}

#topViewCart{
    background: url("/images/01-A-Yutaka-HOME-navigation-cart.png") no-repeat scroll 5px center rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    line-height: 34px;
    padding-left: 27px;
    text-decoration: none;
	float:left;
}

#dspCartItemQty div{
	float:left;
	margin-top:10px;
	text-align:center;
	background:url();
}

#cartQty{
    border-left: 1px solid #5D5D5D;
    border-right: 1px solid #5D5D5D;
    margin-left: 10px;
    width: 30px;
}

#cartSubtotal{
	width:50px;
}