.uploadMessage{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-radius: 10px;
    bottom: 0;
    color: #ffffff;
    font-weight: 600;
    height: 100px;
    left: 0;
    line-height: 58px;
    margin: auto !important;
    position: fixed !important;
    right: 0;
    text-align: center;
    text-decoration: blink;
    top: 0;
    width: 300px !important;
    z-index: 200;
}